body {
    background-color:rgba(69, 124, 53, 0.521);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    margin: 0;
}

#container {
    background-color: rgba(90, 39, 26, 0.808);
    text-align: center;
    width: 10px;
}

.box {
    background-color:rgb(69, 124, 53);
    margin: 1%;
    padding: 20px;
    border: 1px solid rgb(19, 18, 18);
}


h1 {
    border: 0,5px;
    height: 10px;
    width: 10px;
    padding: 10px;
}

* {
    box-sizing: border-box;
  }

  h3 {
      font-family:cursive;
      font-size: 10px;
  }

  h4 {
      font-family:monospace;
      font-size: 20px;
  }

  [href*='natuur'] {
    color: rgb(5, 5, 5)
  }

  [href*='activiteiten'] {
    color:rgb(5, 5, 5);
  }

  [href*='kennismaken met Vietnam'] {
    color:rgb(5, 5, 5);
  }

  [href*='wandelroutes'] {
    color:rgb(5, 5, 5);
  }

  .img {
   border-style: solid;
   border-width: 10px;
   border-color:rgba(90, 39, 26, 0.808);
   margin: 0 auto; 
   display: block;
  }

  h5 {
    font-size: 20px;
    font-family: cursive;
  }

  h6 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  li { 
    font-size: 15px;
  }

  h6 {
    font-size: 20px;
  }