html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #a79084;
    color: #c8c3bf;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 14px;
  
}

body {
    background-color:antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    /* MERK OP: de body heeft standaard een margin */
    margin: 1px;
}

.container {
    background-color: red;
    width:1000px;
    padding:20px;
    margin: 5px;
    text-align: justify;
    display: flex;
    border: 3px dotted #CCC;
}

.box {
    background-color:lavender;
    margin: 10px;
    /* met de klok mee van boven naar rechts naar onder naar links */
    padding: 30px 20px 10px 20px;
    border: 1px solid #999;
}

.h1 {
    height: 5px;
}