* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 62,5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #111;
}


#container {
    margin: 20px auto;
    background-color: blue;
    float: right;
}


a {
    text-decoration: none;
    color: rgb(170, 15, 15);
    max-height: 10px;
}
